{% extends 'base.html'%}
<body>
{% block contents%}

  <div class="container">
<form action="{%url 'login'%}" method="POST">
        {% csrf_token%}
<h1>Login</h1>
  Username:<br>
    <input type="text" class="form-control" aria-describedby="emailHelp"  name="username"placeholder="Enter username">
    <br>Password:<br>
    <input type="password" class="form-control"  name="password"  placeholder="Password">
<br>

  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
{%endblock%}
</body>